.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #1F51FF;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color:#0096FF ;
  transition: 0.5 ease-in;
}

.switch-text {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.switch-text span {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
